doctype html
html

    head
        title Login page
        link(type='text/css', rel='stylesheet', href='/style.css')
    body
        div.login__container
            h1 Login page
            a(href='/auth/google').login__link Sign in with Google