doctype html
html

    head
        title Success page
        link(type='text/css', rel='stylesheet', href='/style.css')
    body
        div.login__container
            img(src='/pobrane.jpg').login__img